.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-block a {
    text-decoration: none;
}

.button {
    width: 50vh;
    height: 25vh;
    padding: 5px 20px;
    padding-left: 15px;
    border: none;
    background-color: #4b71fb;
    color: #eee;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.button:hover {
    transform: translateY(-3px);
}

.description-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.description-toggle {
    padding: 5px 10px;
    cursor: pointer;
}

.details-row td {
    text-align: left;
}
