html, body {
  height: 100%;      /* Allow full height for the content */
  width: 100%;       /* Ensure the width adjusts */
  margin: 0;         /* Remove default margin to prevent gaps */
  padding: 0;        /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-image: linear-gradient(to bottom right, black, purple);
  display: flex;
  flex-direction: column;
}

.NotificationSuccess {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: green;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  justify-content: center;
  transform: scale(1);
  transition: 1s;
  cursor: pointer;
}

.NotificationFail {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: red;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  justify-content: center;
  transform: scale(1);
  transition: 1s;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.navbarLink {
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  width: 90px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: 0.3s;
}

.navbarLink:hover {
  background: #305963af;
}


.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  text-align: center;
  width: auto;
  min-width: 480px;
  min-height: 640px;
  height: 90%;
  margin: auto;
  text-align: center;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 1px 1px 5px #bebebe, -1px -1px 5px #ffffff;
}
