{% extends "base.html" %}
{% block title %}Admin{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename="admin.css")}}">
<h1>Admin Panel</h1>
<div class="main-block">
    <a href="/admin/manage-users" style="margin: 25px;">
        <button class="button">
            Manage Users
        </button>
    </a>
    
    <a href="/admin/timers" style="margin: 25px;">
       <button class="button">
            Manage Timers
        </button>
    </a>
</div>

<script type="module" src="{{ url_for('static', filename="admin.js") }}"></script>
{% endblock content %}