{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename="dashboard.css")}}">

    <div class="dashboardHolder">
        <h1>Your Dashboard</h1>
        <p>You logged in as: {{current_user.username}}</p>
        <p id="current-timer">Loading Timer Data...</p>
        <p id="current-timer-duration"></p>

        <button class="buttons" id="start-timer">Start Timer</button>

        <button class="buttons" id="stop-timer">Stop Timer</button>

        <a class="buttons" href="/timer/history">View History</a>
    </div>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock content %}

