{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename="login.css")}}">
    <div class="container">
        <div class="logoHolder">
            <img class="Logo" src="{{url_for('static', filename="TimeTracker.png")}}" alt="logo">
        </div>
        <h1 class="loginHeader">Login</h1>
        <form id="login-form" class="loginForm">
            <div class="contentInputs">
                <label>
                    <input type="text" id="username-form" required>
                    <span>Username</span>
                </label>
                <label>
                    <input type="password" id="password-form" required>
                    <span>Password</span>
                </label>
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock content %}