{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename="login.css")}}">
    <div class="container">
        <div class="logoHolder">
            <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                <div class="wheel"></div>
                <div class="hamster">
                    <div class="hamster__body">
                        <div class="hamster__head">
                            <div class="hamster__ear"></div>
                            <div class="hamster__eye"></div>
                            <div class="hamster__nose"></div>
                        </div>
                        <div class="hamster__limb hamster__limb--fr"></div>
                        <div class="hamster__limb hamster__limb--fl"></div>
                        <div class="hamster__limb hamster__limb--br"></div>
                        <div class="hamster__limb hamster__limb--bl"></div>
                        <div class="hamster__tail"></div>
                    </div>
                </div>
                <div class="spoke"></div>
            </div>
        </div>
        <h1 class="loginHeader">Login</h1>
        <form id="login-form" class="loginForm">
            <div class="contentInputs">
                <label>
                    <div class="input-container">
                        <input type="Username" id="input-username" maxlength="255" required="">
                        <label for="input-username" class="label">Username</label>
                        <div class="underline"></div>
                    </div>
                </label>
                <label>
                    <div class="input-container">
                        <input type="Password" id="input-password" maxlength="255" required="">
                        <label for="input-password" class="label">Password</label>
                        <div class="underline"></div>
                    </div>
                </label>
            </div>
            <button class="buttons" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="#000000"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
                <span>Log In</span>
            </button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock content %}