{% extends "base.html" %}
{% block title %}TimeTracker{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename="startpage.css")}}">
<div class="startPageBlock">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
            <div class="hamster__body">
                <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                </div>
                <div class="hamster__limb hamster__limb--fr"></div>
                <div class="hamster__limb hamster__limb--fl"></div>
                <div class="hamster__limb hamster__limb--br"></div>
                <div class="hamster__limb hamster__limb--bl"></div>
                <div class="hamster__tail"></div>
            </div>
        </div>
        <div class="spoke"></div>
    </div>
    <h1 class="Header">TimeTracker</h1>
    <h2 class="Description">An app to keep track of your time lol</h2>
    <a class="startPageButton" href="/dashboard">To Dashboard</a>
</div>

{% endblock content %}