{% extends "base.html" %}
{% block title %}TimeTracker{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename="startpage.css")}}">
<div class="startPageBlock">
    <img class="Logo" src="{{url_for('static', filename="TimeTracker.png")}}" alt="logo">
    <h1 class="Header">TimeTracker</h1>
    <h2 class="Description">An app to keep track of your time lol</h2>
    <a class="startPageButton" href="/dashboard">To Dashboard</a>
</div>

{% endblock content %}