{% extends "base.html" %}
{% block title %}Timers table{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename="timers.css")}}">
<h1>Manage Timers</h1>

<div id="search-container">
    <input type="text" id="search-username" placeholder="Search by Username">
    <input type="email" id="search-email" placeholder="Search by Email">
    <input type="datetime-local" id="search-start-time" placeholder="Start Time">
    <input type="datetime-local" id="search-end-time" placeholder="End Time">
    <button id="search-button">Search</button>
</div>

<div class="table-holder">
    <table id="admin-table">
        <thead>
            <tr>
                <th class="first-column">User ID</th>
                <th>Username</th>
                <th>E-Mail</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th class="last-column">Description</th>
            </tr>
        </thead>
    
        <tbody>
    
        </tbody>
    </table>
</div>

<div id="pagination-controls">
    <button id="prev-page" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="#000000"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
    </button>
    <span id="current-page">Page 1</span>
    <button id="next-page">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="#000000"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
    </button>
</div>

<script type="module" src="{{ url_for('static', filename="timers.js") }}"></script>
{% endblock content %}

